body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 150px;
}

.payment-options {
    margin: 20px;
    padding: 50px 90px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.payment-options h1 {
    text-align: center;
    color: #333;
    width: 100%;
    margin: 0;
    padding-bottom: 20px; 
}

.payment-options form {
    margin-bottom: 20px;
}

.payment-options label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
}

.payment-options input[type="radio"] {
    margin-right: 10px;
}

.payment-options button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.payment-options button:hover {
    background-color: #218838;
}